[submodule "comm/sprotodump"]
	path = comm/sprotodump
	url = git@github.com:HahahaVal/sprotodump.git
[submodule "skynet"]
	path = skynet
	url = git@github.com:HahahaVal/skynet.git 
[submodule "tool/levent"]
	path = tool/levent
	url = git@github.com:HahahaVal/levent.git
[submodule "luaclib/trie_filter"]
	path = luaclib/trie_filter
	url = git@github.com:HahahaVal/TrieFilter.git
