addr = {host="127.0.0.1", port=27017}
collections = {
    role = {
        auto_create_index = true,
        indexes = {
            { keys = { uid = 1 }, options = {name = "uid", unique = true} },
            { keys = { roleid = 1 }, options = {name = "roleid", unique = true} },
        }
    },
    uniqueid = {
        auto_create_index = true, 
        indexes = {
            {keys= { name = 1 }, options={name="name", unique=true}},
        }
    },
}